*{
    color: rgb(211, 209, 205);
   
    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0%;
    text-align: center;
}
html{
    scroll-behavior: smooth;
    background-color: #11212D;
}

a{
    text-decoration: none;
}
.social{
    display: flex;
    justify-content: space-around;
    padding-top: 0.75%;
    font-size: 1.2em;
}
header{
    background-color: #11212D; 
}
.headings{
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    width: 100%;
    top: 0%;
    margin-top: 0%;
    /* box-shadow:  0px 5px 0px 0px  #050a0e; */
}
header img{
    border-radius: 50%;
    height: 15vh;
    width: 10vw;
    
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 4%;
    
}
nav a{
    margin: 20px;
}
nav a:hover{
    transition: 0.5s;
    transition-timing-function: step;
    box-shadow: 0px 5px rgba(150, 145, 145, 0.5);

}
.work{
    /* margin-top: -1%; */
    padding: 7%;
    background-image: url(images/background.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    
}
.work h2{
    font-family: fantasy;
    font-size: 5em;
}
.work button{
    background-color: #11212D; 
    color: rgb(211, 209, 205);
    margin: 10%;
    font-size: 1.5em;
    padding: 3%;
    opacity: 0.8;
    
}
.work a{
    background-color: transparent;
}
.work button:hover{
    font-size: 1.25em;
}
.work-description{
    background-color: transparent;
}
h2{
    background-color: transparent;
}
.home{
    padding-top: 4%;
    margin: 0%;
    display: flex;
    justify-content: space-evenly;
    
}

video{
    height: 40vh;
    width: 25vw;
    background-color: black;
    padding-top: 5%;
}

.about{
    display: flex;
    /* justify-content: space-evenly; */
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 8%;
    font-size: 1.5em;
    
}
#about h2 span{
    font-family: cursive;
}
.abt-img img{
    height: 55vh;
    width: 20vw;
}
.abt-description{
    /* margin-left: 0%; */
    flex-basis: 95%;
}
.abt-img{
    flex-basis: 50%;
}
h5{
    font-size: 1.5em;
}
#skills{

    font-size: 1.75em;
}
.skills{
    display: flex;
    justify-content: space-evenly;
    margin-left: 3%;
    margin-right: 3%;
}
#skills h1,h3{
    margin-bottom: 4%;
}
#skills h3{
    font-family: 'Ramaraja';
}
.skills p{
    font-size: 0.75em;
}
.skills-types{
    background-color: rgb(126, 162, 194);
    margin: 3%;
    padding: 3%;
    border-radius: 5%;
}
.skills img{
    height: 30vh;
    width: 20vw;
    margin-bottom: 3%;
}
.services{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
    margin-right: 4%;
    
    
}
.service-types{
    padding: 3%;
    margin: 5%;
    width: 28vw;
    background-color: rgba(150, 145, 145, 0.5);
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    font-size:1.25em;
}
.service-types img{
    height: 45vh;
    width: 20vw;
    border-radius: 5%;
    margin: 4%;
}
.service-types h3{
    font-size: 1.75em;
    font-family: 'Ramaraja';
}

h2{
    font-size: 3.5em;
}
h1{
    font-size: 2em;
    font-family: cursive;
}
#services h5{
    font-size: 4em;
    font-family: cursive;
}